* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #F2F2F2;
  font-family: Verdana;
}

label {
 	font-family: Verdana;
	font-size: 16px;
	position: relative;
	right: 10px;
	bottom: 20px;
}

li {
  list-style: none;
}


#header {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #C3C2C2;
  font-family: Arial black;
  margin: 0px 0px 60px;
}

.cabezera {
  background-color: #000;
  color: #1800FE;
  line-height: 38px;
}

.nav {
  margin-left: 260px;
  position: relative;
  bottom: 8px;
  height: 48px;
}

.nav li a{
  background-color: #F2F2F2;
  border: 1px solid #C3C2C2;
  border-bottom: 4px solid #C3C2C2;
  color: #565656;
  text-decoration: none;
  padding: 15px 15px;
  border-radius: 2px;
  font-size: 14px;
  display: block;
}

.nav > li {
  float: left;
}

.nav li a:hover {
  border-bottom: 1px solid #C3C2C2;
  border-top: none;
  transition: 0.1s;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 195px;
}

.nav li:hover > ul {
  display: block;
}

.container {
	margin-top: 20px;
	background-color: #F9F9F9;
}

.box {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 4px;
	margin: 40px 30px 10px 50px;
	padding: 30px;
	border: none;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.precio {
	font-size: 14px;
}

.form,input {
	text-align: center;
	padding: 5px;
	position: relative;
	bottom: 15px;
}

.titulo {
	width: 128%;
	margin-top: 15px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	position: relative;
	bottom: 50px;
	right: 30px;
	background-color: #F4D507;
	border:none;
	color:#fff;
	font-family:Georgia;
	font-size:24px;
}

.titulo_1 {
	width: 128%;
	margin-top: 15px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	position: relative;
	bottom: 50px;
	right: 30px;
	background-color: #DBD9D9;
	border:none;
	color:#fff;
	font-family:Georgia;
	font-size:24px;
}

.titulo_2 {
	width: 128%;
	margin-top: 15px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	position: relative;
	bottom: 50px;
	right: 30px;
	background-color: #FF5757;
	border:none;
	color:#fff;
	font-family:Georgia;
	font-size:24px;
}

.titulo_3 {
	width: 128%;
	margin-top: 15px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	position: relative;
	bottom: 50px;
	right: 30px;
	background-color: #35D08D;
	border:none;
	color:#fff;
	font-family:Georgia;
	font-size:24px;
}
.titulo_4 {
	width: 123%;
	margin-top: 15px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	position: relative;
	bottom: 50px;
	right: 30px;
	background-color: #FDCD0E;
	border:none;
	color:#fff;
	font-family:Georgia;
	font-size:24px;
}
.titulo_5 {
	width: 128%;
	margin-top: 15px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	position: relative;
	bottom: 50px;
	right: 30px;
	background-color: #FDCD0E;
	border:none;
	color:#fff;
	font-family:Georgia;
	font-size:24px;
}
.titulo_6 {
	width: 128%;
	margin-top: 15px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	position: relative;
	bottom: 50px;
	right: 30px;
	background-color: #FDCD0E;
	border:none;
	color:#fff;
	font-family:Georgia;
	font-size:24px;
}

.planes {
	padding: 0 15px;
	position: relative;
	right: 30px;
	bottom: 10px;
}

button {
	width: 60%;
	border: none;
	border-radius: 4px;
	padding: 8px;
	position: relative;
	bottom: 15px;
	background-color: #AEAEAE;
	color: #fff;
	font-family: Verdana;
	font-size: 18px;
}

.box_canal {
    display: inline-block;
	border: 1px solid #000;
	border-radius: 4px;
	margin: 40px 30px 10px 100px;
	padding: 30px;
	border: none;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);		
}

.cambio_plan {
	width: 35%;
	margin-top: 50px;
	margin-left: 170px;
	border: 1px solid #DCDCDC;
	border-radius: 4px;
	background-color: #fff;
}

.cambio_plan_canal {
	width: 35%;
	margin-top: 50px;
	margin-left: 220px;
	border: 1px solid #DCDCDC;
	border-radius: 4px;
	background-color: #fff;
}

input[type="submit"] {
	margin-top: 30px;
	border: none;
	border-radius: 4px;
	padding: 8px;
	background-color: #AEAEAE;
	color: #fff;
	font-family: Verdana;
	font-size: 18px;
	position: relative;
	left: 10px;
}

input[type="submit"]:hover, button:hover {
	background-color: #8E8E8E;
}





.titulo_canal {
	width: 140%;
	margin-top: 15px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	position: relative;
	bottom: 50px;
	right: 30px;
	background-color: #F4D507;
	border:none;
	color:#fff;
	font-family:Georgia;
	font-size:24px;
}

.titulo_canal_1 {
	width: 140%;
	margin-top: 15px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	position: relative;
	bottom: 50px;
	right: 30px;
	background-color: #DBD9D9;
	border:none;
	color:#fff;
	font-family:Georgia;
	font-size:24px;
}

.titulo_canal_2 {
	width: 140%;
	margin-top: 15px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	position: relative;
	bottom: 50px;
	right: 30px;
	background-color: #FF5757;
	border:none;
	color:#fff;
	font-family:Georgia;
	font-size:24px;
}

.titulo_canal_3 {
	width: 140%;
	margin-top: 15px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	position: relative;
	bottom: 50px;
	right: 30px;
	background-color: #35D08D;
	border:none;
	color:#fff;
	font-family:Georgia;
	font-size:24px;
}

.titulo_canal_4 {
	width: 140%;
	margin-top: 15px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	position: relative;
	bottom: 50px;
	right: 30px;
	background-color: #FDCD0E;
	border:none;
	color:#fff;
	font-family:Georgia;
	font-size:24px;
}

.titulo_canal_5 {
	width: 140%;
	margin-top: 15px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	position: relative;
	bottom: 50px;
	right: 30px;
	background-color: #FDCD0E;
	border:none;
	color:#fff;
	font-family:Georgia;
	font-size:24px;
}

.b_canal {
	width: 80%;
}
