* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #ECECEC;
}

li {
  list-style: none;
}


#header {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #C3C2C2;
  font-family: Arial black;
  margin: 0px 0px 60px;
}

.cabezera {
  background-color: #2B3EFC;
  color: #000;
  padding: 10px;
  font-size: 32px;
  line-height: 30px;
}

.nav {
  margin-left: 190px;
  position: relative;
  height: 48px;
  bottom: 8px;
}

.nav li a{
  background-color: #ECECEC;
  border: 1px solid #C3C2C2;
  border-bottom: 4px solid #C3C2C2;
  color: #565656;
  text-decoration: none;
  padding: 15px 15px;
  border-radius: 2px;
  font-size: 14px;
  display: block;
}

.nav > li {
  float: left;
}

.nav li a:hover {
  border-bottom: none;
  border-top: none;
  transition: 0.1s;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 195px;
}

.nav li:hover > ul {
  display: block;
}

.container {
  background-color: #F9F9F9;
  border: 2px solid #9E9E9F;
  width: 85%;
  margin: auto;
  margin-top: 5%;
  border-radius: 7px;
  padding: 15px;
}

.container_canal {
  width: 40%;
  margin: auto;
  margin-top: 7%;
  background-color: #F9F9F9;
  border-radius: 2px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container_canal .form_canal input[type="text"] {
  width: 80%;
  margin: 0 10px 0 50px;
  border-radius: 2px;
  text-align: center;
}

.container_canal .form_canal input[type="submit"] {
  background: #2D2D2D;
  color: #fff;
  width: 80%;
  margin: 10px 10px 15px 50px;
  border-radius: 2px;
  border: none;
}

.container_canal .form_canal input[type="submit"]:hover {
  background: #A2A2A2;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

.container_canal .form_canal .select {
  width: 80%;
  margin: 20px 10px 15px 50px;
  position: relative;
}

.titulo_canal {
  margin: auto;
  text-align: center;
  color: #909090;
  margin-bottom: 20px;
  padding: 15px;
}

.titulo {
  text-align: center;
  margin-top: 5%;
  color: #EFEBEB;
}

.select {
  padding:10px 15px;
  font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  border:none;
  background-color: #F4F4F4;
  border-radius: 5px;
  color: #333;
  font-size: 12px;
  margin-top:15px;
  margin-left: 5px;
}

.select_serv {
  padding:10px 15px;
  font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  border:none;
  background-color: #DFDFDF;
  border-radius: 5px;
  color: #333;
  font-size: 12px;
  margin-top:15px;
  margin-left: 5px;
}

label {
  color:#333;
}

input {
  border-radius: 7px;
  height: 40px;
  margin: 7px 7px;
  width: 17%;
}

.enviar {
  width: 7%;
  border: none;
  margin-left: 10px;
  color:#333;
  background-color:#ACACAC;
  border-radius:5px/5px;
}

.enviar:hover {
  background-color:#7E7E7E;
  transition: 0.5s;
  color: #fff;
}

.boton input {
  width: 7%;
  color: #333;
  background-color:#7697E2; 
  border: none;
  margin-top: 50px;
  margin-left: 20px;
}

.boton input:hover {
  background-color:#A1B7E8;
  transition: 0.5s;
  color: #333;
}

.container_progra {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  background-color: #F9F9F9;
  border-radius: 2px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.back_progra {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #ECECEC;
  line-height: 30px;
}

.select_canal {
  width: 60%;
  margin: 10px 0px 20px 110px;
  border-radius: 2px;
  text-align: center;
}

.select_programa {
  width: 60%;
  margin: 10px 0px 20px 110px;
  background-color: #F0EFEF;
}

.enviar_programa {
  background-color: #2D2D2D;
  color: #fff;
  width: 60%;
  margin: 10px 0px 20px 110px;
  border-radius: 2px;
  border: none
}

.enviar_programa:hover {
  background: #A2A2A2;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

#header_progra {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #C3C2C2;
  border-radius: 3px;
  font-family: Arial black;
  margin: 0px auto;
}

.cabezera_progra {
  background-color: #2B3EFC;
  color: #000;
  padding: 10px;
  font-size: 32px;
  line-height: 30px;
}

.nav_progra {
  margin-left: 275px;
  position: relative;
  bottom: 8px;
  height: 31px;
}

.nav_progra li a{
  background-color: #ECECEC;
  color: #565656;
  border: 1px solid #C3C2C2;
  border-bottom: 4px solid #C3C2C2;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 2px;
  font-size: 14px;
  display: block;
}

.nav_progra > li {
  float: left;
}

.nav_progra li a:hover {
  border-bottom: 1px solid #C3C2C2;
  border-top: none;
  transition: 0.1s;
}

.nav_progra li ul {
  display: none;
  position: absolute;
  min-width: 195px;
}

.nav_progra li:hover > ul {
  display: block;
  margin-top: 2px;
}

.p_registrada {
  background-color: #636363;
}

.registrado {
  width: 60%;
}

.p_titulo {
  text-align: center;
  margin: 10px 0 30px 0;
}

.a{
  width: 50%;
  margin: auto;
}

.p_a {
  padding: 15px;
  margin-left: 25px;
  text-align: center;
  text-decoration: none;
  background: #2D2D2D;
  color: #fff; 
}

.p_a:hover {
  text-decoration: none;
  color: #fff;
  background: #A2A2A2;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

.serv_a {
  padding: 15px;
  margin-left: 40px;
  text-align: center;
  text-decoration: none;
  background: #2D2D2D;
  color: #fff;
}

